#meme-image {
  width: 100%;
}

#meme-text {
  position: absolute;
  font-size: 30px;
  margin: 250px 20px;
}

#meme-image-container {
  margin: 10px;
  border: 1px solid black;
  background-color: white;
  width: 40%;
  padding-bottom: -2px;
}
