#meme-image {
  width: 100%;
}

#meme-text {
  position: absolute;
  font-size: 30px;
  margin: 250px 20px;
  color: white;
  text-shadow: 5px 5px 5px black;
}

#meme-image-container {
  margin: 10px;
  border: 1px solid black;
  background-color: white;
  width: 20%;
  padding-bottom: -2px;
}

#fire {
  border: 3px dashed pink;
  background-color: red;
}

#water {
  border: 5px double aliceblue;
  background-color: blue;
}

#earth {
  border: 6px groove greenyellow;
  background-color: green;
}

#images img {
  width: 10%;
  height: 10%;
}
